.body {
  margin: unset;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex: auto;
}

.flex_row {
  display: flex;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.gap_1 {
  gap: var(--gieds-space-3);
}

.gap_2 {
  gap: var(--gieds-space-6);
}

.flex_wrap {
  flex-wrap: wrap;
}

.flex_1 {
  flex: 1;
}

.text_input {
  min-width: calc(var(--gieds-screen-sm) / 2);
}

.padd_top_1 {
  padding-top: var(--gieds-space-3);
}